APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=notificacao@onpegasus.com.br
MAIL_FROM_NAME=Pegasus Sistemas
MAIL_TO_TEST_ADDRESS=email@to.test
MAIL_TO_TEST_NAME=name_email_to_test

S3_KEY=Some_KEY
S3_SECRET=Some_Secret
S3_REGION=Some_Region
S3_BUCKET=Some_Bucket
S3_EXPIRATION_TIME=15
